# FAST_API is used for planning and implementation modes
FAST_API_TYPE=llamacpp
FAST_API_HOST=http://192.168.0.147:8989
FAST_API_TOKEN=
FAST_API_MODEL=

# SMART_API is used as a fallback for the default echo mode
SMART_API_TYPE=llamacpp
SMART_API_HOST=http://192.168.0.147:8989
SMART_API_TOKEN=
SMART_API_MODEL=
